.search-bar {
    width: 800px;
    height: 4rem;
    left: 58px;
    top: 1px;
}
.search-button {
    height: 4rem;
    width: 10rem;
    left: 31.76%;
    right: 31.33%;
    top: calc(50% - 24px/2 + 1.5px);

    font-family: 'Montserrat', system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: lightcoral;
}

input::placeholder {
    color: gray;        /* text color */
    font-family: Arial, sans-serif; /* change font family */
    font-size: 30px;    /* change size */
    padding: 10px;
}

.search-input {

    /* Typed text styling */
    color: gray;                 /* text color */
    font-family: Arial, sans-serif; /* change font family */
    font-size: 30px;              /* font size */
    font-weight: 500;             /* boldness */
    font-style: normal;           /* normal / italic */
}

.find-your-movie {
    background-color: transparent; /* removes black background */
    color: white;
    width: 500px;
    height: 49px;
    left: 178px;
    top: 155px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 49px;
    /* identical to box height */
    letter-spacing: 1px;
    text-transform: uppercase;
}
